extends layout
block content
	div.container.small
		div.row
			div.col-md-8
				a.btn.btn-default.btn-sm(href='/', role='button') Back
				h4 !{name}
				form.form-horizontal(role="form", action="/airport/#{code}", method="post", enctype="multipart/form-data")
					.form-group
						label.col-sm-2.control-label(for="latitude") latitude
						.col-sm-10
							input(type="text" name="latitude" value="#{airport.latitude}")
					.form-group
						label.col-sm-2.control-label(for="longitude") longitude
						.col-sm-10
							input(type="text" name="longitude" value="#{airport.longitude}") 
					.form-group
						label.col-sm-2.control-label(for="timezone") timezone
						.col-sm-10
							input(type="text" name="timezone" value="#{airport.timezone}")
					.form-group
						.col-sm-offset-2.col-sm-10
							button.btn.btn-primary.btn-sm(type="submit", value="submit") Save
				a.btn.btn-danger.btn-sm(href='/airport/delete/#{code}', role='button') Delete
